body{

    margin: 0;
    padding:0;
}


.skeleton{
max-width: 1770px;
display: block;
margin: 0 auto;

}
.box{

    display: block;
    width: 500px;
    height: 450px;
    position: absolute;
    top: 0;
    background-color:silver;
    opacity: 0.8;
    margin: 200px 500px;
    padding: 20px;
    border-radius: 30px;
}

.hed{
    top: 0;
text-align: center;
font-style: italic;
font-size: 30px;
text-align:center ;

}
form{

    display: block;
    width: 200px;
    height: 400px;
    margin-left: 80px;
    


}

.fab{

    color: white;
    font-size: 30px;
}
.ip{

    width: 300px;
    height: 25px ;
    margin: 5% auto;

}
.btn{
    border-radius: 30px;
    margin-left: 50px;
    padding: 10px;
    background: linear-gradient(to left, yellow,green);
    cursor: pointer;

}
.spn{

    color: black;
}